@import url('https://fonts.googleapis.com/css?family=Muli|Roboto&display=swap');
@import url('/assets/css/flexboxgrid.css');

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #333;
  font-family: Roboto, sans-serif;
}

main {
  max-width: 900px;
  padding: 30px;
  margin: 50px auto 0 auto;
  border: 1px solid #ccc;
  border-radius: 3px;
}

h1, h2, h3 {
  font-family: Muli, sans-serif;
  text-align: center;
}

h1 {
  color: #ffc107;
  font-size: 40px;
  margin: 10px;
}

h1 small {
  display: block;
  font-size: 12px;
  color: #333;
}

h2 {
  font-size: 22px;
  margin-top: 70px;
}

.file-disposal {
  position: relative;
  width: 300px;
  height: 260px;
  padding-bottom: 10px;
  margin: 0 auto;
  background-image: url('/assets/img/bin_closed.svg');
  background-size: 45%;
  background-position: bottom center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.file-disposal:hover, .file-disposal:active, .file-disposal.hover {
  background-image: url('/assets/img/bin_open.svg');
}

.file-disposal input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1337;
  cursor: pointer;
}

.ink-components {
  height: 100px;
  width: 100%;
  text-align: center;
}

.ink-cartridge {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 105px;
  border-radius: 10px;
  background: #666;
}

.ink-cartridge img {
  position: absolute;
  width: 46px;
  height: 105px;
  top: 0;
  left: 0;
  z-index: 4;
}

.ink-component {
  border-radius: 10px;
  width: 46px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.ink-component--red {
  background: linear-gradient(to bottom, #f33, #700);
}

.ink-component--green {
  background: linear-gradient(to bottom, #3f3, #070);
}

.ink-component--blue {
  background: linear-gradient(to bottom, #33f, #007);
}

.ink-component--c {
  background: #0ee;
}

.ink-component--m {
  background: #e0e;
}

.ink-component--y {
  background: #ee0;
}

.ink-component--k {
  background: #000;
  color: #fff;
}