  <head>
    <title>Ecotar</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="preload" as="image" href="/assets/img/bin_open.svg">
  </head>
  <body>
    <main id="app">
      <h1>
        Ecotar
        <small>avatars made from recycled images</small>
      </h1>
      <%= content %>
    </main>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
