  <head>
    <title>Ecotar</title>
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
    <main id="app">
      <h1>Ecotar</h1>
      <%= content %>
    </main>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
